@font-face {
    font-family:sm ;
    src: url(Fonts/GothamMedium.ttf);
}
@font-face {
    font-family:st ;
    src: url(Fonts/Gotham-Thin.otf);
}
@font-face {
    font-family:sb ;
    src: url(Fonts/Gotham-Bold.otf);
}
@font-face {
    font-family:sl ;
    src: url(Fonts/Gotham-Light.otf);
}
body,html{
margin: 0;
height: 2134.4px;
overflow-x: hidden;
}

 
*{
    box-sizing: border-box;
}
#navdivmain{
    width: 100%;
    display: flex;
    justify-content: center;
   
    height: 200px;
    background:linear-gradient(to top left, rgb(0, 0, 0) 0% , rgb(3, 168, 66) 100% );
    
    z-index: 1;

}

#nav-container{
    width: 1170px;
    height: 80px;
    position: absolute;
    top: 0px;
    margin-left: 30px;
    display: inline-flex;
    z-index: 1;
}

#logonav{
    position: relative;
    left: 0px;
    top: 20px;
    width:132px;
    height: 60px;
}

#logonav img{
    position: relative;
    left: 0px;
    top: 0px;
    width:132px;
    height: 42px;

}
#nav-text{
    position: relative;
    top: 15px;
    
    display: inline-flex;
    width: 492.067px;
    position: relative;
    left: 462.5px;
    color: white;
}

#nav-text a{
   text-decoration: none;
   font-family: sm;
    color: white;'
    transition: all 0.6s ease ;
} 

#nav-text a:hover{
   
    font-family: sm;
     color: #1ed760;
 } 
 #nav-text ul{
    list-style: none;
    display: inline-flex;
    
 }
 #nav-text li{
    padding-left: 32px;
    width: max-content;
    font-size: 15px;
 }
 #seperator{
    padding-left: 30px;
    font-size: 16px;
    position: relative;
    top: -2.5px;
 }
#secondsection{
    position: absolute;
    top: 200px;
    width: 100%;
    height: 850px;
   background: black  ;
   display: flex;
   justify-content: center;
    
 
   
}
#secondhead{
    position: absolute;
    top: -55px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 72px;
    word-spacing: -7.5px;
    letter-spacing: -2px;
    color: white;
    line-height: 1;
width: 560px;
}


    #grid{
    display: grid;
    grid-template-columns: repeat(3, 188px);
    row-gap:8px ;
    column-gap: 16px;
    grid-template-rows: repeat(2, 100px);
    position: relative;
    top: 277.5px;
    }

.gridinner{
  position: relative;
  top: 10px;
    width: 188px;
    height: 92px;
    border-radius: 5px;
    display: inline-flex;
   line-height: 2.95;padding-left: 12px;
   font-size: 16.5px;
overflow: hidden;
}
#grid a{
    color: white;
    text-decoration: none;
    font-family: sb;
    font-weight: 18px;
    
}
#grid .gridimginner{
    transform: rotate(25deg);

    position: absolute;
    top: 0px;
    left: 112.5px;
    width: 100px;
height: 100px;

overflow: hidden;
}

.gridimginner{
    overflow: hidden;
    
}

.gridimginner img{
    overflow: hidden;
    position: relative;
    top: 19px;
    width: 65px;
    height: 65px;
left: 32.5px;
box-shadow: 0.25px 0.25px 10px black;

}

#grid1{
    background-color: rgb(175, 40, 150);
  
}
#grid2{
    background-color: rgb(140, 25, 50);
    
}
#grid3{
    background-color: rgb(176, 98, 57);
    
}
#grid4{
    background-color: rgb(0, 100, 80);
    
}
#grid5{
    background-color: rgb(117, 117, 117);
    
}
#grid6{
    background-color: rgb(83, 122, 161);
    
}

 #searchbar {
    position: absolute;
    top: 236px;
    display: inline-flex;
    width: 595px;
    height: 47.5px;
    background: white;
    border-radius: 2px;
 }
 #searchbar img{
    position: relative;
    top: 2px;
    left: 10px;
    width: 45px;
    height: 45px;
 }
 #inputsrch{
position: relative;
top: 17.5px;
left: -3px;
 }
 #inputsrch::placeholder{
   font-family: sm;
   font-size: 15px;
   
   
     }
     #searchbar input[type=text]{
        width: 552.5px;
        height: 45px;
        position: absolute;
        top: 0px;
        left: 42.5px;
     }
     #searchbar input[type=text]:focus{
        outline: none;
        width: 552.5px;
        height: 47.5px;
     }
     #textspan{
        width:100px;
        line-height: 1.5;
        position: relative;
        top: 12.5px;
     }

#last{
    width: 100%;
    position: absolute;
top: 1577px;
background-color: black;
height: 557.6px;
display: flex;
justify-content: center;
}


     #lastmain{
        position: absolute;
        top: 80px;
        
        width: 1170px;
    }
    #lastmain1{
        display: inline-flex;
        width: 1170px;
    }
    #lastmain1 ul{
        position: relative;
        top: -5px;
        left: 170px;
        color: rgb(118, 118, 118);
        font-family: sb;
        font-size: 13px;
        list-style: none;
        line-height: 3;
        
    }
    #lastmain1 ul a{
        position: relative;
        top: 5px;
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    #lastmain1 ul a:hover{
color: #1ed760;
    }
    #companylist{
        padding-right: 50px;
    }
    #communitylist{
        padding-right: 38px;
    }
    #lastlogo{
        position: absolute;
        top: 0px;
        width: 132px;
        height: 42.5px;
        left: 15px;
        
    }
    #lastlogo img{
        position: absolute;
        top: 0px;
        width: 132px;
        height: 42.5px;
    }
    #logos{
        display: inline-flex;
        position: relative;
        left:398px;
    }
#zone{
    position: absolute;
    right: 15px;
    top:360px;
    
    display: inline-flex;
 
    
}
#zone a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 11.5px;
    font-family: sl;
    letter-spacing: -0.5px;
}
#zone a:hover{
    color: #1ed760;
}
#zone img{
    position: relative;
    left: -10px;
}

#copyright{
    position:absolute;
    top: 400px;
    right: 13px;
    color: rgb(95, 95, 95);
    
    display: inline-flex;
    color: rgb(95, 95, 95);
    font-size: 11.5px;
    font-family: sm;
    letter-spacing: -0.5px;
}

#lastlist ul{
    position: absolute;
    top: 388px;
    left: -47.5px;
    display: inline-flex;
list-style: none;
font-family: sl;
font-size: 11.5px;
position: absolute;



}
#lastlist li{
    padding-left: 20px;
}
#lastlist a{
    text-decoration: none;
    color: rgb(165, 163, 163);
    letter-spacing: ;
}
#lastlist a:hover{
    color:#1ed760;
}
#logos{
    position: relative;
 left: 0px;
    display: inline-flex;
    z-index: 6;
}
#logos img{
   filter: invert(100);
   transition: all 0.1s ease;
}
.imglastdiv{
   position:relative;
   left: 0px;
  
    width: 55px;
    height: 55px;
    background-color: rgba(42, 42, 42, 0.827);
    border-radius: 50%;
    margin: 7.2px;
}
.imglastdiv img{
    position: relative;
    top: 15px;
    left:15px;
    width: 24px;
    height: 24px;
   
}
#logos a{
    position: relative;
    left: 397.5px;
    top: 5px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 7.2px;
}

#logos a:hover img{
    filter: invert(69%) sepia(29%) saturate(1029%) hue-rotate(87deg) brightness(87%) contrast(110%);
}

#spsup{position: absolute;
    top: -85px;
    color: rgb(156, 156, 156);
    font-size: 16px;
    letter-spacing: -1px;
    font-family:sm ;
}
#loginfh{
    position: relative;
    top: 155px;
color: rgb(150, 150, 150);
letter-spacing: -1px;
font-family: sm;
font-size: 22px;
}

#loginfh a{
    text-decoration: underline;
    text-decoration-thickness:1.5px ;
    color: white;
    letter-spacing: -1.25px;
    font-family: sm;
    font-size: 22.5px;
}

#thirdsec{
    background-color: #292929;
    width: 100%;
    height: 442.5px;
    position:absolute;
    top: 800px;
    display: flex;
    justify-content: center;
}
#sec3incont{
    width: 628px;
    padding-left: 10px;
    
}

#thirdsec h5{
color: white;
position: relative;
left: 5px;
word-spacing: -2px;;
top: -5px;
font-size: 22px;
letter-spacing: -1px;
font-family: sm;
}
#thirdsec a{
    position: relative;
left: 5px;
    text-decoration: none;
    color: white;
    font-family: sm;
    font-size: 16px;
top: 14px;

}
.divlist{
    padding-bottom: 45px;
    width: 500px;
}



#sec4{
    background-color: #131313;
    width: 100%;
    height: 442.5px;
    position:absolute;
    top: 1240px;
    display: flex;
    justify-content: center;
}
#innedsec4{
    width: 596px;
    
    height: 442.5px;
    position:absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}
#innedsec4 h1{
    color: white;
   font-family: sm;
   font-size: 44px;
   position: absolute;
   top: 52.5px;
   letter-spacing: -2.5px;

}
#innedsec4 h3{
color: white;
font-family: sm;
font-size: 14px;
position: absolute;
top: 152.5px;
letter-spacing: -0.1px;

}

#sec4innn{
    width: 1519.2px;
    display: flex;
    justify-content: center;
   
}
.imgarr{
    display: block;
position: absolute;
top: 10px;
left: 572.5px;
}
#combut{
    display: flex;
    position: relative;
    top: 200px;
    
    background-color: #1ed760;
    color: #131313;
    font-size: 15px;
    border-radius: 30px;
font-family: sb;
    width: 197.5px;
    height: 47.5px;
justify-content: center;
text-align: center;
transition: all 0.2s;


}
#combut span{
    position: absolute;
    top: 16px;
    width: max-content;

    
}

#combut:hover{
transform: scale(1.025,1.025);
}