@font-face {
    font-family:sm ;
    src: url(Fonts/GothamMedium.ttf);
}
@font-face {
    font-family:st ;
    src: url(Fonts/Gotham-Thin.otf);
}
@font-face {
    font-family:sb ;
    src: url(Fonts/Gotham-Bold.otf);
}
@font-face {
    font-family:sl ;
    src: url(Fonts/Gotham-Light.otf);
}
body,html{
margin: 0;
height: 2660.15px;
overflow-x: hidden;
}

 
*{
    box-sizing: border-box;
}
#navdivmain{
    width: 100%;
    display: flex;
    justify-content: center;
   
    height: 200px;
  background: black ;
    
z-index: 1;
}

#nav-container{
    width: 1170px;
    height: 80px;
    position: absolute;
    top: 0px;
    margin-left: 30px;
    display: inline-flex;
}

#logonav{
    position: relative;
    left: 0px;
    top: 20px;
    width:132px;
    height: 60px;
}

#logonav img{
    position: relative;
    left: 0px;
    top: 0px;
    width:132px;
    height: 42px;
}
#nav-text{
    position: relative;
    top: 15px;
    display: inline-flex;
    width: 492.067px;
    position: relative;
    left: 462.5px;
    color: white;
}

#nav-text a{
   text-decoration: none;
   font-family: sm;
    color: white;
    transition: all 0.6s ease ;
} 

#nav-text a:hover{
   
    font-family: sm;
     color: #1ed760;
 } 
 #nav-text ul{
    list-style: none;
    display: inline-flex;
    
 }
 #nav-text li{
    padding-left: 32px;
    width: max-content;
    font-size: 15px;
 }
 #seperator{
    padding-left: 30px;
    font-size: 16px;
    position: relative;
    top: -2.5px;
 }



#secondsection{
    position:absolute;
    top:80px;
    
    width:100%;
    height: 480px;
    display: flex;
    justify-content:center;
    background-color: #1d75de;

}
#ssinnermain{
    width: 1170px;
    height: 480px;
   
}

#innerdivss{
    position: relative;
    top: 112.5px;
    width: 1170px;
    height: 402.8px;
    text-align: center;
    display: block;
}

#h1ss{
    position: relative;
    top: 0px;
    font-family:sb ;
    font-size: 38px;
    color: white;
letter-spacing: -0.5px;
}
#p1ss{
    position: relative;
    top: 42.5px;
    font-family:sm ;
    font-size: 22px;
    color: white;
    letter-spacing: -0.2px;
}

#buttonsss a{
    text-decoration: none;
    color: white;
} 
    #buttonsss{
        position: relative;
        top:82.5px;
        left: -4px;
        display: inline-flex;
    }
    
#button1ss{
    width:160px;
    height:51.2px;
    color:white;
    background-color:black;
    line-height: 3.5;
    font-family: sm;
    font-size: 14px;
    border-radius:30px;
    letter-spacing: -0.25px;
    
}
#button1ss:hover{
    transform: scale(1.05,1.05);
}
#button2ss:hover{
    transform: scale(1.05,1.05);
    background-color: #0c5dc0;
}
#button2ss{
    position: relative;
    left: 8px;
    width:192.5px;
    height:51.2px;
    color:white;
    background-color:none;
    line-height: 3.15;
    font-family: sm;
    font-size: 15px;
    border-radius:30px;
    letter-spacing: -1px;
    border: 2px solid white;
}
#tandc{
position: relative;
top: 125px;
color: white;
font-family: sl;
font-size: 10.75px;
font-weight: 600;
letter-spacing: -0.75px;
}
#tandc a{
    
    color: white;
    
}
#sectionthree{
    position: absolute;
    top: 560px;
display: flex;
width: 100%;
justify-content: center;
}
#ss3innermain{
width: 1170px;
height: 571.3px;
display: flex;
justify-content: center;
}
#headthree{
    position: absolute;
    top: 76px;
    text-align: center;font-family: sb;
    font-size: 38px;
    letter-spacing: -1.25px;
    color: black;
    width: 1770px;
    
}
#ssthreeinner{
    display:inline-flex;
    position:relative;
    top: 192.5px;
    
}

#threeimg img{
    width: 142.5px;
    height: 142.5px;
}
#threeone{
    width: 285px;
    height: 283.3px;
    text-align: center;
    display: block;
    justify-content: center;
}

#threetwo{

    width: 285px;
    height: 283.3px;
    text-align: center;
    display: block;
    justify-content: center
}

#threethree{
   
    width: 285px;
    height: 283.3px;
    text-align: center;
    display: block;
    justify-content: center
}

#threefour{
    
    width: 285px;
    height: 283.3px;
    text-align: center;
    display: block;
    justify-content: center
}
.threeinhead{
    position: relative;
    top: 38px;
    font-family: sb;
    font-size:20px ;
    letter-spacing: -0.3px;
}
.threeintext{

    font-family: sm;
    font-size:14px ;
    position: relative;
    top: 52px;
    width: 242.25px;
    height:max-content;
    margin-left: 20px;
    line-height: 1.75;
    letter-spacing: 0.15px;
}
#paymentoptionlist{
display: inline-flex;
width: 1170px;
}

#section4{
    position: absolute;
    width: 100%;
    height: 974.35px;
    top: 1131.3px;
background-color: #efefef;
display: flex;
justify-content: center;
}
#section4inmain{
width:1170px;
height: 974.3px;
display: flex;
justify-content: center;
text-align: center;
}
#paymentoptionlist img{
    
    width: 27%;
    }

    #section4head{
font-family: sb;
font-size: 40px;
position: absolute;
top: 70px;
width: max-content;
height: max-content;
letter-spacing: -2.4px;
    }

    #section4innertxt1{
        position: absolute;
        top: 127.5px;
        font-family: sm;
        font-size: 14.5px;
letter-spacing: -0.1px;

    }
    #paymentoptionlist{
        
        position: absolute;
        width: 1170px;
        top: 161.5px;
padding-left: 1px;
        display: flex;
        justify-content: center;
        

    }
    #plans{

        width: 1140px;
        height: 553px;
        position: relative;
        top: 234.5px;
        display: inline-flex;
       

    }
    .innerplan1{
        position: absolute;
        top:0px;
        left: 0px;
        width: 269px;
        height: 533.3px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0.1px 0.5px 20px black;
    }
    .innerplan2{
        position: absolute;
        top:0px;
        left: 285px;
        width: 269px;
        height: 533.3px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 20px black;
    }

    .innerplan3{
        position: absolute;
        top:0px;
        left: 570px;
        width: 269px;
        height: 533.3px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 20px black;
    }
    .innerplan4{
        position: absolute;
        top:0px;
        left: 855px;
        width: 269px;
        height: 533.3px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 20px black;
    }
    .otplan1{
        position: relative;
        top: 15px;
        left: 16px;
        font-family: sm;
        font-size: 13.5px;
        color: rgb(13, 114, 234);
        border: 1px solid rgb(13, 114, 234);
        text-align: center;
        width: max-content;
        padding:8px ;
        letter-spacing: -0.125px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 4px;
        
        
    }
    .planname1{
        position: absolute;
        top: 50px;
        left:16px;
        font-family: sb;
        font-size: 24px;
    }
    .planrate1{
        position: absolute;
        top: 82.5px;
        left:16px;
        font-family: sm;
        font-size: 15px;
    }
    .noc1{
        position: absolute;
        top: 105.5px;
        left:16px;
        letter-spacing: -0.4px;
        font-family: sm;
        font-size: 15px;
    }
    .ulmid{
        position: absolute;
        top: 182.5px;
        left:16px;
        
        
        width: 87.8%;
        height: 0.5px;
        background-color: black;
    }
    .planfeature{
        display: block;
        position: absolute;
        top: 205px;
        left:16px;
        letter-spacing: -0.4px;
        font-family: sm;
        font-size: 15px;
        text-align: left;
        
    }
    .ftext{
        position: relative;
        top: -28px;
        left: 34px;
        line-height: 1.5;
       text-align: left;
        z-index: 3;
        width: 214px;
        margin-bottom: -20px;
    }

    .otplan{
        position: relative;
        top: 50px;
        left: 16px;
        font-family: sb;
        font-size: 13px;
        color: rgb(13, 114, 234);
        border: 1px solid rgb(13, 114, 234);
        text-align: left;
        width: max-content;
        padding:8px ;
        
        letter-spacing: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
        
    border-radius: 4px;
        
        
    }
    .planname{
        position: absolute;
        top: 85.5px;
        left:16px;
        font-family: sb;
        font-size: 24px;
        letter-spacing: -1.15px;
    }
    .planrate{
        position: absolute;
        top: 119.5px;
        left:16px;
        font-family: sm;
        font-size: 15px;
        letter-spacing: -0.35px;
    }
    .noc{
        position: absolute;
        top: 143.5px;
        left:16px;
        letter-spacing: -0.4px;
        font-family: sm;
        font-size: 15px;
    }
    .ulmid{
        position: absolute;
        top: 182.5px;
        left:16px;
        
        
        width: 87.8%;
        height: 0.5px;
        background-color: black;
    }
    .planfeature{
        display: block;
        position: absolute;
        top: 205px;
        left:16px;
        letter-spacing: -0.4px;
        font-family: sm;
        font-size: 15px;
        text-align: left;
        
    }
    
    .plan-button{
        position: absolute;
        top: 407.5px;
        width: 237px;
        left: 16px;
        height: 47.5px;
        background-color: black;
        border-radius: 25px;
        text-decoration: none;
        
    }
    .planbtna{
     
        color: white;
        font-family: sm;
        font-size: 14px;
        line-height: 3.35;
        letter-spacing: -0.8px;
    }
    .plan-button:hover{
        transform: scale(1.05,1.05);

    }
    .tandcplan{
        position: absolute;
        top: 472.5px;
        left: 18px;
        font-family: st;
        font-size: 10.5px;
        color: black;
        font-weight: 900;
        text-align: left;
        line-height: 1.5;
        width: 230px;

    }
    .tandcplan a{
        color: black ;
    }


    .onemf{
    width:98px;
    height:25.25px;
    position: absolute;
    top: 15px;
    left: 16px;
    line-height: 2;
    background-color: #1d75de;
    color: white;
    font-family: sb;
    font-size: 13.5px;
    letter-spacing: -0.25px;
    border-radius: 4px;

    }

    #sd{
        background-color: white;
        position: absolute;
        top:818.5px;
        box-shadow: 0px 0.15px 10px;
        width: 752.4px;
        height: 81.2px;
        
        border-radius: 10px;
        display: inline-flex;
    }
    #sd a{
        text-decoration: none;
        color: black;
    } 
    #sdwords{
        width: max-content;
        font-size: 22px;
        padding-left: 18px;
        padding-top: 25px;
        font-family: sb;
        letter-spacing: -0.125px;
    }
    #lmbutton{
        position: relative;
        top: 13px;
        left: 10px;
        line-height: 3.5;
        width: 157.5px;
        height: 52px;
        font-family: sm;
        font-size: 14px;
        letter-spacing: -0.75px;
        border-radius: 25px;
        border: 2px solid black;
       
    }
    #lmbutton:hover{
        transform: scale(1.05,1.05);
    }
    #last{
        width: 100%;
        position: absolute;
top: 2105.5px;
background-color: black;
height: 554.6px;
display: flex;
justify-content: center;
    }
    #lastmain{
        position: absolute;
        top: 80px;
        width: 1170px;
    }
    #lastmain1{
        display: inline-flex;
        width: 1170px;
    }
    #lastmain1 ul{
        position: relative;
        top: -5px;
        left: 170px;
        color: rgb(118, 118, 118);
        font-family: sb;
        font-size: 13px;
        list-style: none;
        line-height: 3;
        
    }
    #lastmain1 ul a{
        position: relative;
        top: 5px;
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    #lastmain1 ul a:hover{
color: #1ed760;
    }
    #companylist{
        padding-right: 50px;
    }
    #communitylist{
        padding-right: 38px;
    }
    #lastlogo{
        position: absolute;
        top: 0px;
        width: 132px;
        height: 42.5px;
        left: 15px;
        
    }
    #lastlogo img{
        position: absolute;
        top: 0px;
        width: 132px;
        height: 42.5px;
    }
    #logos{
        display: inline-flex;
    }
#zone{
    position: absolute;
    right: 15px;
    top:360px;
    
    display: inline-flex;
 
    
}
#zone a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 11.5px;
    font-family: sl;
    letter-spacing: -0.5px;
}
#zone a:hover{
    color: #1ed760;
}
#zone img{
    position: relative;
    left: -10px;
}

#copyright{
    position:absolute;
    top: 400px;
    right: 13px;
    color: rgb(95, 95, 95);
    
    display: inline-flex;
    color: rgb(95, 95, 95);
    font-size: 11.5px;
    font-family: sm;
    letter-spacing: -0.5px;
}
#copyright a{
    
}
#lastlist ul{
    position: absolute;
    top: 388px;
    left: -47.5px;
    display: inline-flex;
list-style: none;
font-family: sl;
font-size: 11.5px;
position: absolute;



}
#lastlist li{
    padding-left: 20px;
}
#lastlist a{
    text-decoration: none;
    color: rgb(165, 163, 163);
    letter-spacing: ;
}
#lastlist a:hover{
    color:#1ed760;
}
#logos{
    display: inline-flex;
}
#logos img{
   filter: invert(100);
   transition: all 0.1s ease;
}
.imglastdiv{
   position:relative;
   left: 404px;
   top: 13px;
    width: 55px;
    height: 55px;
    background-color: rgba(42, 42, 42, 0.827);
    border-radius: 50%;
    margin: 7.2px;
}
.imglastdiv img{
    position: relative;
    top: 15px;
    left:15.5px;
    width: 24px;
    height: 24px;
   
}

#logos a:hover img{
    filter: invert(69%) sepia(29%) saturate(1029%) hue-rotate(87deg) brightness(87%) contrast(110%);
}